<% include partials/header %>
<h1>
	This is the new homepage
</h1>
<img src="https://cdn.dribbble.com/users/2920041/screenshots/7063573/media/459fee01f8179dc960ea6e7ae78f69a1.jpg">
<% include partials/footer %>